$success-main-color: #5cb85c;
$success-border-main-color: #4cae4c;
$success-active-color: #449d44;
$success-border-active-color: #398439;
$warning-main-color: #f0ad4e;
$warning-main-border-color: #eea236;
$warning-active-color: #ec971f;
$warning-active-border-color: #d58512;
$danger-main-color: #d9534f;
$danger-main-border-color: #d43f3a;
$danger-active-color: #c9302c;
$danger-active-border-color: #ac2925;
$info-color: #5bc0de;
$primary-color: #337ab7;
