@define-mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

@define-mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@define-mixin main-flex {
    display: flex;
    flex: 1;
}

@define-mixin main-flex-column {
    @mixin main-flex;
    flex-direction: column;
}
