@import "./Utils/*.css";

.button {
    flex-grow: 1;
    border: 1px solid;
    white-space: normal;
    touch-action: manipulation;
    cursor: pointer;
    text-align: center;
    padding: 6px 12px;
    @mixin styled-colors;
    @mixin active-styled-colors;
    &.active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
    transition: all 0.3s;
}