@import "./Utils/*.css";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @mixin wide-flex;
  min-height: 40px;
  margin-top: 30px;
  @mixin styled-colors;
  &.no-signal {
    background-color: #ccc;
  }
  &>div {
    flex: 1;
    @mixin flex-center;
  }
}